@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;	
}
#con{
	width:100%;
	height:1000px;
	background: url(../img/21.jpg);
}
#change{
	width:150px;
	height:40px;
	border: none;
	background:orchid;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 250px;
	outline: 0 none;
}
#sImg{
	width:580px;
	height:250px;
	background: pink;
	position:absolute;
	top: 10px;
	left: 400px;
	padding-left:20px ;
	display: none;
}
#sImg img{
	width:100px;
	height:100px;
	margin:0 10px 10px 0;
	float: left;
	border:2px solid slateblue;
}

